.wrapper{
    text-align: center;
    padding: 3%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 30px; 
    color: white;
	text-align: center;
	background-color:#007bff;
}

/* Table */
#events {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#events td, #events th {
    border: 1px solid #ddd;
    padding: 8px;
	white-space: nowrap;
    width: 1%;
}

#events tr:nth-child(even){background-color: #f2f2f2;}

#events tr:hover {background-color: #ddd;}

#events th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}


.eventTable{
	padding-left:25px;
	padding-right:25px;
}

